@media screen and (min-width: 480px) {
	.container {
		max-width: 428px;
	}
	.header-link-tel {
		font-size: 36px;
	}
	.header-social-list {
		gap: 56px;
	}
	.hero-subject {
		font-size: 36px;
		line-height: 1.11;
		width: 320px;
	}
	.footer-subscribe-input {
		width: 398px;
		height: 40px;
	}
	.modal {
		min-width: 392px;
		min-height: 586px;
	}
}
