@media screen and (min-width: 768px) {
	.container {
		max-width: 768px;
	}

	.header-logo {
		margin-right: 120px;
	}
	.current {
		color: var(--accent-color);
		padding: 24px 0;
	}
	.current::after {
		content: "";
		display: block;
		position: absolute;
		width: 100%;
		height: 4px;
		left: 0;
		bottom: -8px;
		border-radius: 2px;
		background-color: var(--hover-focus-color);
	}

	.header {
		padding: 16px 0;
	}
	.header-container {
		display: flex;
	}
	.header-list {
		display: flex;
		gap: 40px;
	}
	.header-address {
		margin-left: auto;
	}
	.header-list-address {
		display: flex;
		flex-direction: column;
		justify-content: end;
		gap: 12px;
	}
	.header-item {
		margin-bottom: 0;
	}
	.header-item-link {
		position: relative;
		font-weight: 500;
		font-size: 16px;
		line-height: 1.5;
		color: var(--main-title-color);
		transition: color var(--animation-duration) var(--timing-function);
	}
	.header-link-tel {
		font-style: normal;
		font-weight: 400;
		font-size: 12px;
		line-height: 1.17;
		letter-spacing: 0.04em;
		color: var(--main-description-color);

		transition: color var(--animation-duration) var(--timing-function);
	}
	.header-link-email {
		font-style: normal;
		font-weight: 400;
		font-size: 12px;
		line-height: 1.17;
		letter-spacing: 0.04em;
		color: var(--main-description-color);

		transition: color var(--animation-duration) var(--timing-function);
	}
	.header-link:is(:hover, :focus) {
		color: var(--hover-focus-color);
	}
	.header-navigation {
		flex-direction: row;
	}

	.header-btn-mob {
		display: none;
	}
	.header-btn-mob-2 {
		display: none;
	}
	.header-social-list {
		display: none;
	}
	.hero {
		background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero-br-tablet.jpg);
	}
	@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
		.hero {
			background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
				url(../images/hero-br-tablet-2x.jpg);
		}
	}
	.hero-subject {
		font-size: 56px;
		line-height: 1.07;
		width: 496px;
		margin-bottom: 36px;
	}
	.advantages-item {
		flex-basis: calc((100% - 24px) / 2);
	}
	.advantages-item-subtitle {
		text-align: start;
	}
	.team-list {
		row-gap: 64px;
	}
	.customers-list {
		column-gap: 24px;
	}
	.footer-container {
		width: 565px;
		justify-content: flex-start;
		padding: 0;
	}
	.social-media {
		margin-left: 24px;
	}

	.logo-container {
		display: block;
	}
	.footer-subscribe-heading {
		display: block;
	}
	.footer-subscribe-input {
		width: 264px;
		height: 40px;
		margin-right: 24px;
	}
	.footer-subject {
		display: block;
	}
	.footer-subscribe-wrap {
		flex-direction: row;
		gap: 0;
	}
	.control {
		padding: 64px 0;
	}
	.control-list {
		justify-content: center;
		margin-bottom: 64px;
	}
	.portfolio-item {
		margin-right: 24px;
		margin-bottom: 72px;
		width: 356px;
	}
	.portfolio-item:nth-child(2n) {
		margin-right: 0;
	}
	.portfolio-item:nth-last-child(-n + 2) {
		margin-bottom: 0;
	}
	.modal {
		min-width: 408px;
		min-height: 576px;
	}
	.form-checkbox-label {
		font-size: 12px;
	}
}
